<!DOCTYPE html>
<html lang="es">
<head>

    <link rel="stylesheet" href="https://unpkg.com/98.css" />
    <meta charset="UTF-8">
    <title >{% block title %} - Visualizando {% endblock %}</title>

</head>
<body style="color: red">
{% include 'includes/navbar.html' %}

<main>
    <div class="window" role="tabpanel">
            <div class="window-body">
                

    {% block content %}{% endblock %}
                </div>
        </div>
</main>
 {% include 'includes/footer.html' %}
</body>

</html>
