<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav style="display: inline">
        <ul style="display: inline-flex;list-style-type: none; gap: 1rem">
            <li><a href="/">Inicio</a></li>
            <li><a href="/info">Información</a></li>
            <li><a href="https://sigmotoa.com">Creador</a></li>
        </ul>
    </nav>
<h1>Hola Mundo desde FastAPI</h1>
<h2>Este es un ejemplo de subtítulo</h2>
<h3>Otro subtítulo</h3>
<p>Este es un párrafo simple explicando que estamos aprendiendo FastAPI con plantillas HTML.</p>

<ul>

    <li>Primer elemento</li>
    <li>Segundo elemento</li>
</ul>


<img src="../static/img/cometa.png" width="300" height="500">
<br>
<a href="/info">Vamos a ver mas info</a>
<br>
<a href="https://sigmotoa.com">Esto es un enlace</a>

 <footer style="margin-top: 2em;">
        <hr>
        <p>Proyecto educativo “Visualizando” — FastAPI + HTML. by: sigmotoa 2025</p>
    </footer>
</body>
</html>